@model Szakdoga.Models.HirdetesAddViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row h-100 justify-content-md-center">
    <div class="col-md-12">
        <div class="card bg-light w-50" style="margin:auto;">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="sportHirdetes.sportId">Sport</label>
                        <select id="sportHirdetes.sportId" name="sportHirdetes.sportId" class="form-control">
                            @foreach (var s in Model.Sport)
                            {
                                <option value="@s.Id">@s.Nev</option>
                            }
                        </select>

                    </div>
                    <div class="col-md-6">
                        <label for="sportHirdetes.Korosztaly">Keresett Korosztály</label>
                        <select id="sportHirdetes.Korosztaly" name="sportHirdetes.Korosztaly" class="form-control">
                            @foreach (var s in Model.KrosztalyLista)
                            {
                                <option value="@s">@s</option>
                            }
                        </select>

                    </div>
                </div>
            </div>
            <div class="row h-100 justify-content-md-center">
                <button onclick="Search()" type="button" class="btn btn-primary"><i class="fas fa-search"></i> Keresés</button>
            </div>
            <br/>
        </div>
    </div>
</div>

<hr/>



<div id="search_result">

</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Hirdetes/_HirdetesSearch",
            success: function (data) {
                $("#search_result").html(data);
            },
            error: function () {
                alert("Something went wrong");
            }
        });
    });


    function Search() {
        var sport = document.getElementById("sportHirdetes.sportId");
        var sportId = sport.options[sport.selectedIndex].value;
        var korosztaly = document.getElementById("sportHirdetes.Korosztaly");
        var korosztalyId = korosztaly.options[korosztaly.selectedIndex].value;


        $.ajax({
            type: "GET",
            url: "/Hirdetes/_HirdetesSearch",
            data: { sportId: sportId, korosztalyId: korosztalyId },
            success: function (data) {
                $("#search_result").html(data);
            },
            error: function () {
                alert("Something went wrong");
            }
        });
    }
</script>