@model IEnumerable<Szakdoga.Models.Sport>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sportág</th>
                <th scope="col">Sport Neve</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model)
            {
                <tr>
                    <th scope="row">@f.Id</th>
                    <td>@f.Nev</td>
                    <td>@f.Sportag</td>
                </tr>
            }

        </tbody>
    </table>
</div>





